a.button {
  text-decoration: none;
}

button,
.button {
  background: $gray--400;
  color: $white;
  cursor: pointer;
  display: inline-block;
  font-weight: 700;
  line-height: 1.25;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  border: 1px solid transparent !important;
  padding: 0.75em 2.5em;
  font-size: 1em;
  border-radius: 0.25em;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
  -webkit-transition: all 0.25s ease-out;
  -o-transition: all 0.25s ease-out;
  transition: all 0.25s ease-out;
}

.button--arrow::after {
  content: "→";
  margin-left: 0.25em;
}

/* color */
.button--white {
  background: $white;
  color: $blue--500;
}

.button--white:hover {
  background: $blue--300;
  color: $white;
}

.button--blue {
  background: $blue--500;
  color: $white;
}

.button--blue:hover {
  background: $blue--400;
  color: $white;
}

/* size */
.button--xl {
  padding: 0.75em 2.25em;
}
