.features-section {
  padding: 10em 0 8em 0;

  h4 {
    font-weight: 700;
    margin-bottom: 0.25em;
  }

  .icon-box {
    .icon-box-cell {
      display: table-cell;
      vertical-align: middle;
    }

    img {
      height: auto;
      margin: 0.75em;
      width: 48px;
    }
  }
}
