.features-section {
  padding: 8em 0 4em 0;

  h4 {
    font-weight: 700;
    margin-bottom: 0.25em;
  }

  .icon-box {
    margin-bottom: 4em;

    img {
      min-height: 32px;
      margin: 0.75em;
      width: auto;
    }
  }
}
