.form-section {
  margin: 0 auto;
  padding: 3em 1em 4em 1em;
  width: 100%;

  .text {
    color: $white;
    margin-bottom: 2em;
  }

  label {
    color: $white;
    font-weight: 700;
    width: 100%;
  }

  h5 {
    font-weight: 600;
    text-align: center;

    @include font-size(27);

    margin-bottom: 0.25em;
  }

  .button {
    width: 100%;
  }
}

@media screen and (min-width: 992px) {
  .form-section {
    width: 33%;

    .button {
      width: 33%;
    }
  }
}
