.form-section {
  margin: 0 auto;
  padding: 0 1em;
  width: 100%;

  label {
    width: 100%;
  }

  h5 {
    color: $blue--500;
    font-weight: 700;
    text-align: center;
  }
}

@media screen and (min-width: 992px) {
  .form-section {
    width: 33%;
  }
}
