.grid {
  display: flex;

  .grid--item {
    flex: 1;
  }
}

.grid--gutters > .grid--item {
  margin: 0 1em;
}

.grid--row {
  flex-direction: row;
}

.grid--collapse {
  flex-direction: column;
}

@media screen and (min-width: 992px) {
  .grid--collapse {
    flex-direction: row;
  }
}
