.homepage-header {
  align-items: center;
  background-size: cover;
  color: $white;
  display: flex;
  height: 100%;
  justify-content: center;
  margin: 64px 0 0 0;
  max-height: 700px;
  min-height: 512px;
  padding: 40px 50px;
  position: relative;
  text-align: center;
  width: 100%;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(to bottom right, #000, #000);
    opacity: 0.3;
    z-index: 9;
  }

  .header-content {
    z-index: 10;
  }

  h1 {
    color: $white;
    font-weight: 700;
  }

  h2 {
    @include font-size(27);

    color: $white;
    line-height: 1.25em;
  }

  .form-box {
    form {
      background: rgba(0, 0, 0, 0.4);
      border-radius: 6px;
      display: flex;
      flex-direction: column;
      margin: 0 auto;
      padding: 1em;
      flex-wrap: wrap;

      .button {
        margin-bottom: 0;
      }

      .ajax-loader {
        height: 0;
      }

      .wpcf7-mail-sent-ok {
        background: #82be40;
        border: 1px solid #82be40;
        border-radius: 4px;
        color: #fff;
        padding: 0.75em 1em;
        margin: 1em 0 0 0;
      }

      .wpcf7-validation-errors {
        background: #ff6464;
        border: 1px solid #ff6464;
        border-radius: 4px;
        color: #fff;
        padding: 0.75em 1em;
        margin: 1em 0 0 0;
      }

      .wpcf7-not-valid-tip {
        color: #ff6464;
        text-align: left;
        margin: 0.5em 0 0 0;
      }
    }
  }
}

@media all and (min-width: 992px) {
  .homepage-header {
    .header-content {
      width: 50%;
    }

    .form-box {
      form {
        flex-direction: row;
        justify-content: space-between;

        input {
          margin-bottom: 0;
        }

        .wpcf7-form-control-wrap {
          flex: 70%;
          margin: 0;
          padding: 0;
        }

        input[type='submit'] {
          flex: 1;
          margin: 0 -4% 0 2%;
        }
      }
    }
  }
}
