.subpage-header {
  align-items: center;
  background: $blue--600;
  background-size: cover;
  color: $white;
  display: flex;
  height: 100%;
  justify-content: center;
  max-height: 600px;
  min-height: 512px;
  padding: 40px 50px;
  position: relative;
  text-align: center;
  width: 100%;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(to bottom right, #000, #000);
    opacity: 0.34;
    z-index: 9;
  }

  .subpage-content {
    z-index: 10;
  }

  h1 {
    color: $white;
    font-weight: 500;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.15);
  }

  h2 {
    @include font-size(27);

    color: $white;
    line-height: 1.25em;
  }
}

@media all and (min-width: 992px) {
  .subpage-header {
    margin: 124px 0 0 0;

    .subpage-content {
      width: 50%;
    }
  }
}
