footer {
  background-color: $blue--700;
  padding: 7em 0 2em 0;
  min-height: 66vh;
  color: $white;

  .grid {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    width: 66%;

    div {
      width: 100%;
    }
  }

  h5 {
    color: $white;
    font-weight: 700;
  }

  ul {
    list-style: none;
    margin-left: 0;

    li {
      line-height: 1.75em;

      a {
        color: $white;

        &:hover {
          color: $white;
          opacity: 0.8;
          text-decoration: none;
        }
      }
    }
  }
}
