.banner .nav li {
  @extend .nav-item;
}

.banner .nav a {
  @extend .nav-link;
}

.navbar {
  margin-top: -5.5em;
  padding: 0.5rem 0 0 0;

  .navbar-toggler {
    color: $white;
    background: $white;
  }

  .navbar-collapse {
    margin-top: 1em;
  }

  .navbar-toggler-icon {
    background-image: url('../images/menu.svg');
    background-size: 1.25em 1.25em;
    background-repeat: no-repeat;
  }
}

.banner {
  min-height: 5em;

  a.brand {
    display: inline-block;
    margin-bottom: 1em;
    width: 15%;
    max-height: 88px;

    img {
      height: auto;
      max-width: 148px;
      width: 100%;
    }

    &:hover {
      opacity: 0.85;
    }
  }

  nav.nav-primary {
    .menu-primary-navigation-container {
      width: 100%;
      background: $blue--600;

      ul {
        display: flex;
        flex-direction: column;
        max-width: 960px;
        margin: 0 auto;

        li {
          a {
            background: $blue--600;
            color: $white;
            font-weight: 500;
            padding: 1rem 0.5rem;
            text-align: center;

            &:hover {
              background: $blue--500;
              color: $white;
            }
          }
        }
      }
    }
  }
}

@media all and (min-width: 992px) {
  .banner {
    a.brand {
      display: block;
      text-align: center;
      margin: 0 auto;
      width: 100%;

      img {
        margin: -1.25em 0;
      }
    }

    .navbar {
      margin-top: 0;
    }

    nav.nav-primary {
      .menu-primary-navigation-container {
        ul {
          flex-direction: row;

          li {
            flex: 1;

            .sub-menu {
              display: none;
              position: absolute;
              border-radius: 0.25em;
              padding: 1em;
              border: none;
              box-shadow: 0 5px 20px rgba(0, 0, 0, 0.33);
              background: #fff;
              margin: 0 0 0 2em;
              z-index: 9999;

              li {
                display: block;

                a {
                  background: #fff;
                  color: $gray-600;
                  padding: 0.75em 0.5em;
                  text-align: left;

                  &::after {
                    content: "›";
                    display: inline-block;
                    margin-left: 0.5em;
                  }

                  &:hover {
                    color: $blue--500;
                  }
                }
              }
            }

            &:hover .sub-menu {
              display: block;
            }
          }
        }
      }
    }
  }
}
