.banner .nav li {
  @extend .nav-item;
}

.banner .nav a {
  @extend .nav-link;
}

.navbar {
  margin: -3em 0 0 0;
  padding: 0;

  .navbar-toggler {
    color: $white;
    background: $white;
  }

  .navbar-collapse {
    margin-top: 1em;
  }

  .navbar-toggler-icon {
    background-image: url('../images/menu.svg');
    background-size: 1.25em 1.25em;
    background-repeat: no-repeat;
  }
}

.banner {
  min-height: 4em;
  position: fixed;
  box-shadow: 0 0.15em 0.35em 0 rgba(0, 0, 0, 0.135);
  top: 0;
  width: 100%;
  background: #fff;
  z-index: 999;

  a.brand {
    display: inline-block;
    max-height: 88px;
    padding: 0.5em;
    width: 100%;

    img {
      height: auto;
      max-width: 108px;
      width: 100%;
    }

    &:hover {
      opacity: 0.85;
    }
  }

  nav.nav-primary {
    button {
      box-shadow: none;
    }

    .menu-primary-navigation-container {
      width: 100%;
      background: $gray--100;

      ul {
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15), 0 0 0 2px rgba(0, 0, 0, 0.1);

        li {
          cursor: pointer;

          a {
            background: $gray--100;
            color: $gray--500;
            font-weight: 400;
            padding: 0.5rem 1rem;

            &::after {
              content: "\203A";
              margin-left: 0.5em;
            }

            &:hover {
              background: $blue--500;
              color: $white;
            }
          }
        }

        li.button {
          background: $blue--300;
          border-radius: 0;
          padding: 0;

          a {
            width: 100%;
            padding: 1em;
            font-weight: 500;
            background: $blue--500;
            color: $white;
            border-radius: 5px;

            &:hover {
              background: $blue--700;
              color: $white;
            }
          }
        }

        .menu-item-has-children {
          a::after {
            content: "▾";
            display: inline-block;
            margin-left: 0.5em;
          }

          ul.sub-menu {
            list-style-type: none;

            li {
              a {
                padding-left: 2.25em;
                background: $gray--200;

                &::after {
                  content: "\203A";
                  margin-left: 0.5em;
                }

                &:hover {
                  background: $blue--500;
                  color: $white;
                }
              }
            }
          }
        }
      }
    }
  }
}

@media all and (min-width: 992px) {
  .banner {
    box-shadow: none;
    display: flex;
    justify-content: space-between;
    flex-direction: row;

    a.brand {
      display: flex;
      text-align: center;
      width: 10%;
      align-items: center;
      justify-content: center;

      img {
        height: auto;
        max-width: 128px;
        width: 100%;
      }
    }

    .navbar {
      margin-top: 0;
      width: 80%;

      .navbar-collapse {
        margin-top: 0;
      }
    }

    nav.nav-primary {
      .menu-primary-navigation-container {
        background: $white;

        ul {
          flex-direction: row;
          box-shadow: none;

          li.button {
            background: $blue--500;
          }

          li {
            flex: 1;

            a {
              color: $gray--500;
              font-weight: 400;
              background: $white;
              text-align: center;
              padding: 0.5em 0.25em;

              &::after {
                content: "";
              }

              &:hover {
                background: $white;
                color: $blue--500;
              }
            }

            .sub-menu {
              display: none;
              position: absolute;
              border-radius: 0.25em;
              padding: 1em;
              border: none;
              box-shadow: 0 5px 20px rgba(0, 0, 0, 0.33);
              background: #fff;
              margin: 0 0 0 2em;
              z-index: 9999;

              li {
                display: block;

                a {
                  background: #fff;
                  color: $gray-600;
                  padding: 0.75em 0.5em;

                  &::after {
                    content: "›";
                    display: inline-block;
                    margin-left: 0.5em;
                  }

                  &:hover {
                    color: $blue--500;
                  }
                }
              }
            }

            &:hover .sub-menu {
              display: block;
            }
          }

          .menu-item-has-children {
            ul.sub-menu {
              li {
                a {
                  text-align: left;
                  padding-left: 0;
                  background: none;

                  &:hover {
                    color: $blue--500;
                    background: none;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
