.page-content {
  &--subpage {
    margin: 6em auto 4em auto;
  }

  &--homepage {
    margin: 6em auto 4em auto;
    padding-bottom: 3em;
  }

  &--wrapper {
    max-width: 768px;
    padding: 0 1em;
  }
}
