$doc-font-size: 16;
$doc-line-height: 24;

@mixin font-size($size) {
  font-size: 1px + $size;
  font-size: $size / $doc-font-size +rem;
  letter-spacing: -0.015em;
  line-height: ($doc-line-height / $size * 10000) / 10000;
  margin-bottom: 1px + $doc-line-height;
  margin-bottom: ($doc-line-height / $doc-font-size)+rem;
  text-rendering: optimizeLegibility;
}

h1 {
  @include font-size(42);
}

h2 {
  @include font-size(36);

  line-height: 1.05em;
}

h3 {
  @include font-size(27);
}

h4 {
  @include font-size(24);
}

h5 {
  @include font-size(22);
}

h6 {
  @include font-size(18);
}

p {
  @include font-size(18);
}
