/** Import Bootstrap functions */
@import "~bootstrap/scss/functions";

$blue--700: #042e50;
$blue--500: #0f6ba5;
$gray--500: #616161;
$gray--400: #666;
$gray--300: #bbb;
$gray--200: #f1f3f5;
$white: #fff;
