/** Import Bootstrap functions */
@import "~bootstrap/scss/functions";

$blue--800: #0d598a;
$blue--700: #042e50;
$blue--600: #0f6ba5;
$blue--500: #3784b4;
$blue--400: #5f9cc3;
$blue--300: #87b5d2;
$blue--200: #afcee1;
$blue--100: #d7e6f0;
$gray--700: #616161;
$gray--600: #b7b7b7;
$gray--500: #969696;
$gray--400: #b0b0b0;
$gray--300: #cacaca;
$gray--200: #e5e5e5;
$white: #fff;

$doc-font-size: 16;
$doc-line-height: 24;

@mixin font-size($size) {
  font-size: 1px + $size;
  font-size: $size / $doc-font-size +rem;
  letter-spacing: -0.015em;
  line-height: ($doc-line-height / $size * 10000) / 8500;
  margin-bottom: 1px + $doc-line-height;
  margin-bottom: ($doc-line-height / $doc-font-size)+rem;
  text-rendering: optimizeLegibility;
}
