/** Import Bootstrap functions */
@import "~bootstrap/scss/functions";

$blue--800: #0d598a;
$blue--700: #042e50;
$blue--600: #0f6ba5;
$blue--500: #3784b4;
$blue--400: #5f9cc3;
$blue--300: #87b5d2;
$blue--200: #afcee1;
$blue--100: #d7e6f0;
$gray--700: #2c313a;
$gray--600: #424958;
$gray--500: #6e7a92;
$gray--400: #8492af;
$gray--300: #99a4bc;
$gray--200: #adb6ca;
$gray--100: #d6dae1;
$green--500: #82be40;
$white: #fff;

$doc-font-size: 16;
$doc-line-height: 24;

@mixin font-size($size) {
  font-size: 1px + $size;
  font-size: $size / $doc-font-size +rem;
  letter-spacing: -0.015em;
  line-height: ($doc-line-height / $size * 10000) / 8500;
  margin-bottom: 1px + $doc-line-height;
  margin-bottom: ($doc-line-height / $doc-font-size)+rem;
  text-rendering: optimizeLegibility;
}
